p {
	font-family: Georgia, fantasy;
    font-size:18px;
    color: green;
}


body{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%)
}

ul{
	list-style-image: url("../images/ul2.png");
	overflow: auto;
}

li{
	font-family: Georgia, serif;
	font-size: 16px;
}

.desk_title{
		background: #dc6a2b;
		height: 50px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
}

.desk_title_text{
	width: 50vw;
	height: 5vh;
	margin-left: 25px;
	
}
.desk{
	background: #f2d8a0;
	height: 50vw;
	border-radius: 20px;
	box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3);
}

.list{
	padding-top: 5px;
}

.content{
	font-family: Monospaced, serif;
	font-size: 12px;
}
.bottom-button {
	position: absolute;
	bottom: 10px;
	left: 50vb;
}
.btn-primary{
	position: marker;
	right: 5px;
}
.form{
	margin-top: 15px;
	margin-left: 15px;
}


.btn-delete{
	right: 25px;
}

.btn-edit{
	 right: 0px;
}

.content-view{
	width: 40vw;
	height: 70px;
	overflow: scroll;
}