<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new note</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"  />

</head>
<body>

<div class="desk">
    <div class="desk_title">
        <h2 class="desk_title_text">Edit notes by id</h2>
    </div>

    <div class="form">
        <form action="/note/edit" method="POST">
            <div >
                <label for="title">Title: </label>
                <input type="text" name="title" id="title">
            </div>

            <div >
                <label for="content">Content: </label>
                <input class="content-view" type="text" name="content" id="content">
            </div>

            <form action="/note/edit" method="POST">
                <button  type="submit">Edit </button>
            </form>
        </form>

    </div>

    <div class="bottom-button">
        <a href="http://localhost:9999/note/list">
            <button type="button">Back</button>
        </a>
    </div>

</div>

</body>
</html>